html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.hidden {
  visibility: hidden;
}

/* =============================== 
 *          CSS Variables
 * =============================== */

:root {
  --header-height: 56px;
  --waves-section-spacer-height: 300px;
  --btn-transition: .35s ease;
}


/* =============================== 
 *        Global Animations      
 * =============================== */

.animation-wrapper {
  overflow: hidden;
}

.animation {
  transform-origin: bottom;
  animation: slideUpScaled 1s cubic-bezier(0.22, 0.61, 0.36, 1) backwards;
}

@media (prefers-reduced-motion) {
  .animation {
    animation-name: dissolve !important;
  }
}


/* =============================================================== 
 *  Global Animations - Keyframes & CSS Specific to each Keyframe
 * =============================================================== */

@keyframes slideUpScaled {
  0% {
    transform: translateY(100px) scale(.5);
    opacity: 0;
  }

  10% {
    opacity: .3;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animation.slideInR {
  animation-name: slideInR;
  transform-origin: center;
}

@keyframes slideInR {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  10% {
    opacity: .3;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation.growYUp {
  animation-name: growYUp;
  transform-origin: bottom;
}

@keyframes growYUp {
  0% {
    transform: scaleY(.5);
  }

  100% {
    transform: scaleY(1);
  }
}

.animation.growYDown {
  animation-name: growYDown;
  transform-origin: top;
}

@keyframes growYDown {
  0% {
    transform: scaleY(.5);
  }

  100% {
    transform: scaleY(1);
  }
}
