.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%
}

.background {
	position: absolute;
	font-size: min(400px, 55vw);
	z-index: -1;
	opacity: .1
}
